<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
      
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="UTF-8" />
	<title>cadastro pessoa</title>
	
	<style>
		
		form input[type=submit]{
			color: #fff;;
		}
	</style>
</head>

<body>
	<h3 style="margin-bottom: 3rem;">Spring Boot + Thymeleaf + Material Design Lite</h3>
	<h5>Cadastro de Pessoa</h5>
<a href="/cadastropessoa" class="waves-effect waves-light btn">Cad Pessoa</a>
<div th:each="p : ${pessoaobj}">
	<div class="row">
		<p>ID: <span th:text="${p.id}"</span>></span></p>
		<p>NOME: <span th:text="${p.nome}"</span>></span></p>
		<p>SOBRENOME: <span th:text="${p.sobrenome}"</span>></span></p>
		<p>IDADE: <span th:text="${p.idade}"</span>></span></p>
	</div>
	
	<h5>Telefones</h5>
	<div th:each="m : ${msg}" style="margin-bottom: 3rem;margin-top: 3rem;">
		<span th:text="${m}"></span>
	</div>
	<div class="row">
		
		
		<form th:action="@{/addfonePessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" method="post" 
		class="col s12" onsubmit="return validarCampos()? true :false">
			<div cs="row">
				<div class="input-field col s6">
					<label class="active" for="numero">Número:</label>
					<input id="numero" name="numero" class="validate"/>
				</div>
				
				<div class="input-field col s6">
					<label class="active" for="tipo">Tipo:</label>
					<input id="tipo" name="tipo" class="validate"/>
				</div>
				<input type="submit" value="Adicionar" class="waves-effect waves-light btn"/>
			</div>
		</form>
	</div>
	
	<table class="striped centered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Numero</th>
			<th>Tipo</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="fone : ${telefones}">
			<td th:text="${fone.id}"></td>
			<td th:text="${fone.numero}"></td>
			<td th:text="${fone.tipo}"></td>
			<td><a th:href="@{/removertelefone/{idtelefone}(idtelefone=${fone.id})}">Excluir</a></td>
		</tr>
	</tbody>
</table>
</div>
 <script type="text/javascript" src="/materialize/js/materialize.js"></script>
 <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
 
 <script>
	 function validarCampos(){
		 const numero = document.getElementById('numero').value;
		 const tipo = document.getElementById('tipo').value;
		 
		 if(numero === ''){
			 alert('Numero deve ser informado');
			 return false;
		 }else if(tipo === ""){
			 alert('Tipo deve ser informado');
			 return false;
			 
		 }
		 
		 return true;
	 }
 </script>
</body>

</html>